.alert
  margin: 12px 0
  padding: 10px

.alert-info
  color: $infoText
  background: $infoBackground
  border-color: $infoBorder

.alert-warning
  color: $warningText
  background: $warningBackground
  border-color: $warningBorder

.alert-error
  color: $errorText
  background: $errorBackground
  border-color: $errorBorder

.alert-success
  color: $successText
  background: $successBackground
  border-color: $successBorder
