@font-face
  font-family: 'Entypo'
  src: url('/static/fonts/entypo.woff?v=1') format('woff'),
       url("/static/fonts/entypo.eot?v=1"),
       url("/static/fonts/entypo.eot?#iefix?v=1") format('embedded-opentype'),
       url("/static/fonts/entypo.ttf?v=1") format('truetype'),
       url("/static/fonts/entypo.svg#entypo?v=1") format('svg')
  font-weight: normal
  font-style: normal
