body,
html,
.viewport
  height: 100%
  margin: 0
  padding: 0
.wrapper
  height: 100%
  overflow-x: auto
.navigation
  height: 100%
  width: 230px
  float: left
.content
  margin-left: 230px
.content,
.dashboard,
.resources
  height: 100%
  overflow-y: auto
