text-overflow()
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

border-radius($n)
  -webkit-border-radius: $n
  -moz-border-radius: $n
  border-radius: $n

transition($val)
  -webkit-transition: $val
  -moz-transition: $val
  -o-transition: $val

text-shadow($shadow)
  -webkit-text-shadow: $shadow
  -moz-text-shadow: $shadow
  text-shadow: $shadow

box-shadow($shadow)
  -webkit-box-shadow: $shadow
  -moz-box-shadow: $shadow
  box-shadow: $shadow

animation(value)
  -moz-animation: value
  -o-animation: value
  -webkit-animation: value
  animation: value

animation-delay(value)
  -moz-animation-delay: value
  -o-animation-delay: value
  -webkit-animation-delay: value
  animation-delay: value

transform(value)
  -moz-transform: value
  -o-transform: value
  -webkit-transform: value
  transform: value

