body
  font-family: $baseFontFamily
  font-size: $baseFontSize
  line-height: $baseLineHeight
  color: $textColor
  background: $bodyBackground
a
  color: $linkColor
  text-decoration: none
  &:hover
    color: $linkColorHover
    transition(color 0.2s ease-in)

