table
  max-width: 100%
  border-collapse: collapse
  border-spacing: 0

.table
  width: 100%
  clear: both
  caption
    display none
  th, td
    padding: 10px
    text-align: left
    font-weight: normal
    font-size: $baseFontSize
    empty-cells: show
    background: $white
  th
    border: 0 none
    color: $grayLighter
    background: $grayDark
  th.fee,
  td.fee
    text-align: right

.table-bordered
  border-collapse: separate
  th,
  td
    border-bottom: 1px solid $tableBorder

.table-hover
  tbody
    tr:hover td,
    tr:hover td
      cursor: pointer
      background: $tableHover
