// Grays
$black = #000
$grayDarker = #292929
$grayDark = #3b3b3b
$gray = #555
$grayLight = #999
$grayLighter = #eee
$white = #fff

// Theme Color
$themeColor = #32A25F
$secondThemeColor = #F3735A 

// Scaffolding
$bodyBackground = #ebebe9
$textColor = $grayDark

// Anchor
$linkColor = $themeColor
$linkColorHover = darken($linkColor, 20%)

// Typography
$sansFontFamily = "Microsoft Yahei", "微软雅黑", Tahoma, Helvetica, Arial, sans-serif
$monoFontFamily = Monaco, Menlo, Consolas, "Courier New", monospace
$priceFontFamily = 'Arial'

// Base
$baseFontSize = 12px
$baseFontFamily = $sansFontFamily 
$baseLineHeight = 16px

// Forms
$inputBackground = $white
$inputBorder = #ccc
$inputBorderRadius = 3px
$inputDisabledBackground = $grayLighter

// Alerts
$warningText = #c09853
$warningBackground = #fcf8e3
$warningBorder = darken($warningBackground, 5%)

$errorText = #b94a48
$errorBackground = #f2dede
$errorBorder = darken($errorBackground, 5%)

$successText = #468847
$successBackground = #dff0d8
$successBorder = darken($successBackground, 5%)

$infoText = #3a87ad
$infoBackground = #d9edf7
$infoBorder = darken($infoBackground, 5%)

// Navigation
$navigationBackground = $grayDarker
$navigationText = $bodyBackground

// Table
$tableBorder = #eee
$tableHover = lighten($grayLighter, 50%)

// Buttons
$btnBackground = $grayDarker
$btnBackgroundDarker = darken($btnBackground, 10%)
$btnText = $white

$btnPrimaryBackground = $themeColor
$btnPrimaryBackgroundDarker = darken($btnPrimaryBackground, 10%)
$btnPrimaryText = $white

$btnLoadingBackground = $gray
$btnLoadingBackgroundDarker = darken($btnLoadingBackground, 10%)
$btnLoadingText = $white

$btnForbiddenBackground = $gray
$btnForbiddenBackgroundDarker = darken($btnForbiddenBackground, 10%)
$btnForbiddenText = $grayLight

$btnDangerBackground = $errorBackground
$btnDangerBackgroundDarker = darken($btnDangerBackground, 10%)
$btnDangerText = $white

$btnCancelBackgroundDarker = darken($grayLighter, 10%)
$btnCancelText = $grayDark

// Modal
$modalBackground = #f2f2f2
