doctype html
html
  head
    meta(charset='utf8')
    title SDK文档 -- Node.js
    link(rel="stylesheet",type="text/css",href="css/doc.min.css")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(src='http://balupton.github.io/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js')
    script
      $.SyntaxHighlighter.init();
  body
    div.main
      include doc