@import "mods/reset"
@import "mods/grid"
@import "mods/fontface"
@import "mods/variables"
@import "mods/mixins"
@import "mods/layout"
@import "mods/scaffolding"
@import "mods/types"
@import "mods/icons"
@import "mods/table"
@import "mods/form"
@import "mods/button"
@import "mods/dropdown"
@import "mods/spinner"
@import "mods/modal"
@import "mods/alert"

.main
  width:90%
  margin:0 auto
  .class-desc
    font-size:14px
    line-height:24px
  .method-set
    margin:20px 0
    background:#F1F1F1
    border-radius:5px
    padding:30px
    box-shadow(0 0 5px #ccc)
    h1.title
      text-transform:capitalize
      margin-bottom:30px
      margin-top:0
      text-shadow(2px 2px #D8D8D8)
  .method
    margin-top:30px
    border-top:3px solid #ccc
    h1
      margin-bottom:10px
      padding:10px 0;
      color:#2a91ca
      .normal
        font-weight:normal
        margin-left:10px
        font-size:70%
        color:#999
  .param
    h2
      margin-bottom:10px
      .normal
        font-weight:normal
        margin-left:10px
        font-size:70%
        color:#999
  .param-list
    .param-detail
      margin-top:10px
      table
        margin-top:10px
    li
      margin-top:30px
